.key {
  border: 2px solid rgb(182, 182, 255) !important;
  box-shadow: 0 0 10px 5px #48abe0, 0 0 20px 7px #ebecca, 0 0 15px 10px #8a2be2,
    0 0 20px 15px #ff1493;
  transform: translateY(-2rem);
  transition: transform 0.3s ease-in-out;
}
